
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Convert.ToInt32(Session["RoleID"]) != 0 || Session["AccountID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

@using Software_Engineering_Project.Models;
@model Tuple<IEnumerable<LinksData>,IEnumerable<Role>,IEnumerable<Status_Entity>>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div>
        <table class="table">
            <tr>
                <th>URL</th>
                <th>Role</th>
                <th>Status</th>

            </tr>

            @using (Html.BeginForm("EditRole", "Links_Management", FormMethod.Post))
            {

                foreach (var linkdata in Model.Item1)
                {

                    <tr>
                        <td>@linkdata.URL</td>
                        <td>
                            <select id="RoleNamesList">
                                <option>@linkdata.Role_Name</option>
                                @foreach (var options in Model.Item2)
                                {
                                    if (linkdata.Role_Name != options.Role_Name)
                                    {
                                        <option>@options.Role_Name</option>
                                    }

                                }
                            </select>
                        </td>
                        <td>
                            <select id="StatusList">
                                <option>@linkdata.Status</option>
                                @foreach (var options in Model.Item3)
                                {
                                    if (linkdata.Status != options.Status)
                                    {
                                        <option>@options.Status</option>
                                    }

                                }
                            </select>
                        </td>
                        <td>
                            <input type="Submit" value="Save" />
                        </td>

                    </tr>
                }
            }
        </table>

    </div>
   
</body>
</html>
