
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Convert.ToInt32(Session["RoleID"]) != 0 || Session["AccountID"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
}

@using Software_Engineering_Project.Models;
@model Tuple<IEnumerable<LinksData>,IEnumerable<Role>,IEnumerable<Status_Entity>>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div>
        <table class="table">
            <tr>
                <th>URL</th>
                <th>Role</th>
                <th>Status</th>

            </tr>


            @foreach (var linksdata in Model.Item1)
            {
            <tr>
                <td>@linksdata.URL</td>
                <td>@linksdata.Role_Name</td>
                <td>@linksdata.Status</td>
                <td></td>
            </tr>
            }
           
                @using (Html.BeginForm("EditRole", "Links_Management", FormMethod.Post))
                {
                <tr><td></td><td></td><td></td><td></td></tr>
                <tr><td><h3>Edit Link</h3></td><td></td><td></td><td></td></tr>
                    <tr>
                        
                        <td>
                            @Html.DropDownListFor(model => model.Item1.ElementAt(0).URL,
                            new SelectList(Model.Item1),
                            "Select Value")
                        </td>
                        <td>
                            @Html.DropDownListFor(model => model.Item1.ElementAt(0).Role_Name,
                             new SelectList(Model.Item2),
                             "Select Value")
                        </td>

                        <td>
                            @Html.DropDownListFor(model => model.Item1.ElementAt(0).Status,
                             new SelectList(Model.Item3),
                             "Select Value")
                        </td>

                        <td>
                            <input type="Submit" value="Save Changes" />
                        </td>

                    </tr>
                }
            
        </table>

    </div>
   
</body>
</html>
